.productItem {
  position: relative;
  background: #ffffff;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.productImgContainer {
  display: grid;
  place-items: center;
  height: 100%;
}

.productImg {
  max-width: 100%;
  /* max-height: 90%; */
  /* height: auto; */
  margin: 0;
  padding: 0;
}

.description {
  border-top: 1px solid #d9d9d9;
  width: 100%;
  padding: 12px 32px;
}
.description h2 {
  font-size: 18px;
  color: #616161;
  letter-spacing: -0.04px;
  text-align: left;
}
.description p {
  font-size: 16px;
  color: #a3a3a3;
  letter-spacing: -0.04px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.description span {
  display: flex;
  align-items: flex-end;
}
.description > * {
  margin: 0;
}

.iconBuy {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 100%;
  cursor: pointer;
}

.productItemOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 0;
}
.productItemOverlay:hover {
  cursor: pointer;
  opacity: 1;
  /* background-image: linear-gradient(-180deg, gold, transparent); */
  background-image: linear-gradient(
    -180deg,
    rgba(255, 225, 0, 0.75),
    rgba(255, 165, 0, 0.75),
    rgba(255, 0, 0, 0.75)
  );
}

.productItemOverlay h2 {
  font-size: 36px;
  color: black;
  letter-spacing: -0.08px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.productItemOverlay button {
  background: #ffffff;
  width: 228px;
  height: 42px;
  font-size: 18px;
  color: black;
  letter-spacing: 1px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.productItemOverlay button:hover {
  background-color: black;
  color: white;
}

.moreMoney {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  top: 20px;
  right: 12px;
  border-radius: 6px;
  padding: 8px 12px;
}

.productItem:hover {
  animation: hoverBtn 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes hoverBtn {
  from {
  }
  to {
    transform: scale(106%);
    box-shadow: 12px 12px 18px black;
  }
}
