.cart {
  background: #333;
  display: none;
  padding: 62px;
  position: fixed;
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0px;
  top: 0px;
  max-width: 400px;
  z-index: 2000;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
  list-style: none;
  display: grid;
}

.cart img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 300px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.cart footer {
  background-color: rgba(50, 50, 50, 0.8);
  /* grid-column: 1/-1; */
  /* grid-row: 1/-1; */
  /* align-self: flex-end; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 0;
}

.cart footer div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.cart footer div > button {
  align-self: stretch;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  width: 38px;
  height: 38px;
}

.cart footer div > button:hover {
  background-color: rgb(206, 0, 0);
  color: whitesmoke;
  box-shadow: 1px 1px 2px whitesmoke;
  transform: scale(1.25);
}
.cart footer div > button:active {
  background-color: black;
  color: whitesmoke;
  box-shadow: none;
}

.cart footer button {
  padding: 8px;
}

.cartButton {
  background: #09f;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  position: fixed;
  right: 8px;
  top: 8px;
  transition: all 0.3s ease;
  z-index: 9999;
  cursor: pointer;
}

.cartButton:hover {
  scale: 1.1;
}

.cartButton ~ input:checked ~ .cart {
  display: block;
}

.emptyCart {
  width: 100%;
  font-size: 1.25rem;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  padding: 6px 12px;
  margin-top: 40px;
  background-color: #1a1a1a;
}

.toolTipDiscardAll {
  color: red;
  margin-left: 12px;
  margin-right: 20px;
  font-size: 1.25rem;
  font-weight: bolder;
  cursor: pointer;
}

.totalItems {
  border-radius: 6px;
  padding: 4px 10px;
  margin-inline: 6px;
  background-color: #0064a7;
  font-weight: bolder;
}
