.filters-container {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 6px;
  color: black;
}

.filters-btns-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.filters-container button {
  font-size: 1rem;
  line-height: 1.6;
  padding: 6px 14px;
  cursor: pointer;
  border: none;
  border-radius: 32px;
  background-color: rgba(237, 237, 237, 0.75);
  color: rgb(98, 98, 98);
}

button.filter-active {
  font-weight: bolder;
  font-size: 1.1rem;
  border: 1px solid darkblue;
  /* background: #ef4a1d; */
  background: black;
  color: #fff;
}
