.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  gap: 12px;
  justify-content: center;
  margin: 25px 0;
}
@media (max-width: 605px) {
  .productsContainer {
    grid-template-columns: 1fr;
    padding: 2%;
  }
}
